#heading
      {
        display:flex;
        color:cyan;
        background-color:black;
        font-family: 'Yuji Syuku', serif;
        text-align:center;
        flex-wrap:wrap;
        flex-grow: 1;
        width:100%;
        height:auto
      }
      #text{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        background-color:white;
        color:black;
        font-family: 'Roboto', sans-serif;
      }
      #container{
        display:flex;
        width:100%;
      }
      #responsive {
        height:auto;
        width:30%;
      }
      h4{
        font-Size: 24px;
      }
      p{
        font-size:16px;
      }
      li{
        font-size:16px;
      }
      #message
      {
        Font-size:60px;
        background-color: blue;
        color:palegreen;
      }
      #moreinfo1
      {
        font-size: 20px;
        background-color:black;
        color:white;
        background-size:auto ;
      }
      #moreinfo2
      {
        font-size: 20px;
        background-color:black;
        color:white;
        background-size:auto ;

      }
      @media(max-width:630px)
      {
        #container{
          display:flex;
          max-width:100%;
          flex-wrap:wrap;
        }
        #heading{
          display:flex;
          max-width:100%;
          flex-wrap:wrap;
        }
      }